.latest_stories_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "top-l mid top-r" "bottom-l mid bottom-r";
  gap: 20px;
  justify-content: center;
  align-items: start;
  width: 100%;
  /* max-width: 1200px; */
  margin-inline: auto;
  box-sizing: border-box;
}

.mid_card {
  
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.208);
    border-radius: 5px;
  align-self: center;
  grid-area: mid;
}

@media screen and (max-width: 768px) {
  .latest_stories_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "top-l top-r"
      "mid mid"
      "bottom bottom";
  }
}

@media screen and (max-width: 500px) {
  .latest_stories_section {
    display: flex;
    flex-direction: column;
  }
}
