/* .article_content_image_cover, */
.article_img {
  position: relative;
  aspect-ratio: 16 / 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_content_image_cover img {
  width: 60%;
  height: 500px;
}

.article_img img {
  width: 100%;
  height: 100%;
  background: aliceblue;
  object-fit: contain;
  box-shadow: 0 10px 10px 0 rgb(151, 151, 151);
}

.desktop_title_cover {
  padding: 5px;
  margin-top: -50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  /* position: absolute; */
  width: 90%;
  /* bottom:-30px; */
}

.desktop_title {
  text-align: center;
}

.full_page_content {
  display: flex;
}

.full_page_content img {
  width: 100%;
  /* height: 80%; */
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.user_image_name img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.tag_view {
  background-color: #ff006e;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 2px 25px;
  border-radius: 20px;
  display: inline-block;
  /* margin-bottom: 1rem; */
}

.meta_data_view {
  min-width: 250px;
  height: 100%;
}

.top_section {
  border-radius: 10px;
  padding: 10px 5px;
  background-color: rgb(220, 220, 220);
}

.tags_holder {
  display: flex;
}

.tag_cover {
  padding: 5px;
  margin-left: 10px;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag_cover h4 {
  margin: 0;
}

.social_media_icons {
  display: flex;
  justify-content: space-between;
}

.social_icon_cover {
  padding: 5px;
  border: 2px solid black;
  border-radius: 4px;
}

.user_image_name {
  display: flex;
}

.user_image_name h3 {
  margin-left: 10px;
}

.topics {
  border-radius: 10px;
  padding: 10px 5px;
  margin-top: 20px;
  background-color: rgb(220, 220, 220);
}
.topics h3 {
  margin-top: 0;
}

.article_content {
  margin-left: 20px;
}

.mobile_title,
.mobile_description {
  display: none;
}

.suggested {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.hori_layout {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.208);
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .full_page_content {
    flex-direction: column;
  }

  .top_section {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .social_media_icons {
    min-width: 200px;
  }
  .suggested {
    grid-template-columns: repeat(2, 1fr);
  }

  .hori_layout {
    grid-column: span 2;
  }
}

@media screen and (max-width: 500px) {
  .desktop_title_cover,
  .desktop_description {
    display: none;
  }
  .mobile_title,
  .mobile_description {
    display: block;
  }

  .mobile_title,
  .suggest_heading {
    font-size: 1.5rem;
  }
  .suggested {
    display: flex;
    flex-direction: column;
  }
  .article_img {
    margin-bottom: 30px;
  }
}
