.article_Card {
  display: flex;
}

.article_card_image_cover img {
  width: 100%;
  height: 100%;
  background: aliceblue;
  object-fit: contain;
}

.article_link {
  color: black;
  text-decoration: none;
}

.card_title {
  margin: 0 0 -10px 0;
}

.article_card_img {
  background: aliceblue;
  width: 100%;
  height: 100%;
}

.article_card_content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.article_card_content h3 {
  margin-bottom: 10px;
}

.card_tag {
  background-color: #ff006e;
  color: #fff;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.card_meta {
  color: gray;
  margin-top: auto;
}

.article_card_medium {
  align-self: center;
  /* height: 100%; */
}

.card_span_1 {
  grid-column: span 2;
}

.card_span_2 {
  grid-column: span 2;
}

.card_span_3 {
  grid-column: 1 / span 1;
}

.card_span_4 {
  grid-column: 2 / span 1;
}

.article_card_hori {
  display: grid;
  /* grid-column: span 2; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.article_suggest_layout {
  display: flex;
  flex-direction: column;
}

.hide_desc {
  display: none;
}

@media screen and (min-width: 1024px) {
  .article_card_image_cover {
    position: relative;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .hide_desc {
    display: block;
  }
  .article_card_medium {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .article_suggest_layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 500px) {
  .article_card_hori,
  .article_suggest_layout,
  .article_card_medium {
    display: flex;
    flex-direction: column;
  }
}
